body{
    font-family: 'Lora', serif;
    font-size: 500;
}
header{
    background-image: url(images/313.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    /* height: 600px; */
    /* background-position: center; */
    height: 100vh;
    width: 100%;
}
.overlay{
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.8);
}
.logo img{
    width: 20%;
}

@media (max-width:768px){
    header{
        background-size: contain;
    }
}
.container-fluid1{
    background-color: whitesmoke;
    margin: 100px;
    position: absolute;
    top: 490px; 
}

.first-row{
    margin-top: 400px;
}
.head-line{
    color: whitesmoke;
    font-weight: 700;
    font-size: larger;
    margin-top: 150px;

}
.headline-text{
    font-weight: 100;
}
.lead-image{
    width: 40%;
    

}
.lead-image img{
    width: 40%;
    
    
}
/* .head-message{
    width: 50%;
    text-align: center;
    margin-left: 35px;
    margin-top: auto;
     position: relative;
    top: 510px;
    border-radius: 20px;
    background-color: goldenrod;
} */

.card{
   margin-top: auto;
   background-color: goldenrod;
   position: relative;
   top: 80px;
   border-radius: 20px;
}
/* @media (max-width:768px){
    header .card{
        position: relative;
        top: 20px;
    }
} */

.btn1{
    background-color: whitesmoke;
    color: black;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 20px;
}
section{
    /* background-color: lightyellow; */
}
/* .realtor{
    width: 50%;
}
.realtor img{
    width: 80%;
} */

main{
    background-color: lightyellow;
}
.discover-img{
    width: 100%;
}
.discover-img img{
    width: 100%;
}
/* .illustration-icon{
    width: 45%;
    /* border: 2px solid black;
    border-radius: 40px; *
}
.illustration-icon img{
    width: 35%;
} 
*/
 .custom-bg{
    background-color: #fcf9f9;
    
}
.image-icon{
    /* width: 80%; */
}
.image-icon img{
    width: 100%;
}
.pix-icon{
    /* width: 60%; */
}
.pix-icon img{
    width: 100%;
}
.message-icon{
    width: 100%;
    /* border: solid 5px rgb(221, 246, 253);
    border-radius: 30px;
    background-color: rgb(221, 246, 253); */
}
.message-icon img{
    width: 100%;
}
section{
    background-color: lightgray;
}
aside{
    background-color: lightyellow;
}
.star{
    color: gold;
}
.custom-image{
    width: 19%;
}
.custom-image img{
    width: 10%;
}
.btn2{
    width: 160px;
    height: 60px;
}

/* .carourselExemple{
    width: 50%;
    height: 200px;
}
.shake img{
    width: 100%;
} *