body{
    font-family: 'Lora', serif;
    font-size: 500;
}
header{
    background-image: url(images/313.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(0, 0, 0,0.6);
    position: relative;
    height: 100vh;
    width: 100%;
}


.navbar-brand{
    color: orange;
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
}
.navbar-brand:hover{
    color: orange;
}

.nav-icon{
 filter: invert(1);
    opacity: 100%;
} 

@media (max-width:767px){
    header{
        background-size:unset;
        background-position: -700px -50px;
        /* width: 300px; */
        /* background-blend-mode: unset;
        background-color: unset; */
    }
}

.container-fluid1{
    background-color: white;
    margin: 100px;
    position: absolute;
    top: 500px; 
    border-radius: 5px;
}

.first-row{
    margin-top: 450px;
}
.follow-up{
    width: 100%;

}
.follow-up img{
    width: 100%;
}
.head-line{
    color: whitesmoke;
    font-weight: 700;
    font-size: larger;
    margin-top: 130px;
    z-index: 1;
    text-align: center;

}
@media(min-width:350px) and (max-width:765px) {
    .head-line{
        margin-top: 60px;
        background-blend-mode: normal;
        
    }
    .headline-text{
        background-blend-mode: none;
        
    }
    .container-fluid1{
        margin: 30px;
        position: absolute;
        top: 450px;
    }
}
.headline-text{
    font-weight: 100;
    font-size: 16px;
}

.btn1{
    background-color: whitesmoke;
    color: black;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    /* margin-left: 60px; */
}
.btn-animate:hover {
    transform: scale(1.1); /* Increase the size on hover */
    transition: transform 0.3s; /* Add a smooth transition effect */
}
@media(max-width:567px) {
    .btn1{
        margin-left: 50px;
    }
}

/* .realtor img{
    width: 80%;
} */

main{
    background-color: lightyellow;
}
.discover-img{
    width: 100%;
}
.discover-img img{
    width: 100%;
}

 .custom-bg{
    background-color: white;
    /* border: solid 1px lightgrey;  */
    border-radius: 5px; 
    box-shadow: 2px 3px lightgray;
      
}

.image-icon{
     width: 65%; 
}
.image-icon img{
    width: 100%;
}
.pix-icon{
     width: 90%; 
}
.pix-icon img{
    width: 100%;
}
.organized-icon{
    width: 100%;
}
.organized-icon img{
    width: 100%;
}
.message-icon{
    width: 85%;
    
}
.message-icon img{
    width: 100%;
}
section{
    background-color: lightgray;
}
aside{
    background-color: lightyellow;
}
.carousel-inner{
    border-radius: 20px;
}
@media (max-width: 768px) {
    #carouselExample {
      width: 100%; 
      margin: 0; 
      padding: 5px; 
    }
  }
  
.star{
    color: gold;
}
.custom-image{
    width: 19%;
}
.custom-image img{
    width: 10%;
}
.btn2{
    width: 160px;
    height: 60px;
}
footer{
    height: 300px;
}

/* .carourselExemple{
    width: 50%;
    height: 200px;
}
.shake img{
    width: 100%;
} *